.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
.btn-primary {
background: #255969;
}
#footer {
    text-align: center;
    font-size: small;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    bottom: 0;
    background: #255969;
    color: white;
}
body > div.container {
    margin-bottom: 40px;
/*    margin-top: 40px;*/
}
#title {
    text-align: center;
    font-size: x-large;
/*    position: fixed;*/
/*    top: 0;*/
    width: 100%;
    z-index: 100;
    background: white;
}
body > div.container > div.btn-group.pull-right{
    position: sticky;
    z-index: 100;
    top: 0px;
}
body > div.container > div.pull-left {
    position: sticky;
    top: 0px;
    margin-top: 10px;
    margin-bottom: -43px;
    height: 33px;
    width: 100%;
    z-index: 100;
    background: white;
/*    box-shadow: 0 0 10px 10px #ffffff;*/
}
.table>thead {
    box-shadow: 0 0 10px 10px #ffffff;
    background: white;
}
.table>thead>tr>th {
    border-bottom: none!important;
}
